/*responsive quary start*/
@media (min-width:279px) and (max-width:319px){
/*	coad start*/
/*coad end*/
}

@media (min-width:320px) and (max-width:480px){
/*	coad start*/
/* global css coad start */
.col-12{
	width: 90%;
	float: left;

}
.col-6{
	width: 100%;
	float: left;
}
.col-4{
	width: 100%;
	float: left;

}
.col-3{
	width: 100%;
	float: left;

}
/*golobal css coad end*/
.header .navbar {
   
    text-align: left;
}
.header .navbar li a {
    display: block;
    margin: 10px 10px 0px 15px;
    font-size: 12px;
    
}
a {
    text-decoration: none;
    margin: 0px 0px 0px 10px;
}
.banner {
    width: 100%;
    /* float: left; */
    padding: 90px 0px;
    /* text-align: center; */
}
.container {
    width: 390px;
    margin: 0px auto;
}
.banner h1 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #0f2656;
    margin: 30px 0px 10px;
}
.success-right h1 {
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
    color: #0F2656;
    margin: 0px 20px 10px 10px;
}
.col-4 {
    width: 100%;
    float: left;
    margin: 0px 0px 20px;
}
.inner-feature {
    width: 76%;
    padding: 60px 30px;
    /* background: #FDEBED; */
    margin: 0px 15px;
}


/*coad end*/
}

@media (min-width:481px) and (max-width:767px){
/*	coad start*/
/*	coad start*/
/* global css coad start */
.col-12{
	width: 90%;
	float: left;

}
.col-6{
	width: 100%;
	float: left;
}
.col-4{
	width: 100%;
	float: left;

}
.col-3{
	width: 100%;
	float: left;

}
/*golobal css coad end*/
.header .navbar {
   
    text-align: left;
}
.header .navbar li a {
    display: block;
    margin: 10px 10px 0px 15px;
    font-size: 13px;
    
}
a {
    text-decoration: none;
    margin: 0px 0px 0px 10px;
}
.banner {
    width: 100%;
    /* float: left; */
    padding: 90px 0px;
    /* text-align: center; */
}
.container {
    width: 390px;
    margin: 0px auto;
}
.banner h1 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    color: #0f2656;
    margin: 30px 0px 10px;
}
.success-right h1 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
    color: #0F2656;
    margin: 0px 20px 10px 10px;
}
.col-4 {
    width: 100%;
    float: left;
    margin: 0px 0px 20px;
}
.inner-feature {
    width: 76%;
    padding: 60px 30px;
    /* background: #FDEBED; */
    margin: 0px 15px;
}
.header {
    width: 100%;
    float: left;
    padding: 15px 0px 0px 10px;
    border-bottom: 1px solid #eee;
    position: fixed;
    background: #fff;
}

/*coad end*/
}

/*coad end*/
}

@media (min-width:768px) and (max-width:1024px){

.col-12{
	width: 90%;
	float: left;

}
.col-6{
	width: 100%;
	float: left;
}
.col-4{
	width: 100%;
	float: left;

}
.col-3{
	width: 100%;
	float: left;

}
/*golobal css coad end*/
.header .navbar {
   
    text-align: left;
}
.header .navbar li a {
    display: block;
    margin: 10px 10px 0px 15px;
    font-size: 12px;
    
}
a {
    text-decoration: none;
    margin: 0px 0px 0px 10px;
}
.banner {
    width: 100%;
    /* float: left; */
    padding: 90px 0px;
    /* text-align: center; */
}
.container {
    width: 390px;
    margin: 0px auto;
}
.banner h1 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #0f2656;
    margin: 30px 0px 10px;
}
.success-right h1 {
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
    color: #0F2656;
    margin: 0px 20px 10px 10px;
}
.col-4 {
    width: 100%;
    float: left;
    margin: 0px 0px 20px;
}
.inner-feature {
    width: 76%;
    padding: 60px 30px;
    /* background: #FDEBED; */
    margin: 0px 15px;
}
.header .logo {
    width: 100%;
    float: left;
    margin: 0px 0px 0px 15px;
}
.container {
    width: 768px;
    margin: 0px auto;
}





}

@media (min-width:279px) and (max-width:319px){
/*	coad start*/
/*coad end*/
}

@media (min-width:768px) and (max-width:1040px){
/*	coad start*/
/* global css coad start */
.col-12{
	width: 90%;
	float: left;

}
.col-6{
	width: 100%;
	float: left;
}
.col-4{
	width: 100%;
	float: left;

}
.col-3{
	width: 100%;
	float: left;

}
/*golobal css coad end*/
.header .navbar {
   
    text-align: left;
}
.header .navbar li a {
    display: block;
    margin: 10px 10px 0px 15px;
    font-size: 12px;
    text-align: center;

    
}
a {
    text-decoration: none;
    margin: 0px 0px 0px 10px;
    text-align: center;

}
.banner {
    width: 100%;
    /* float: left; */
    padding: 90px 0px;
     text-align: center; 
}
.container {
    width: 390px;
    margin: 0px auto;
}
.banner h1 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    color: #0f2656;
    margin: 30px 0px 10px;
    text-align: center;

}
.success-right h1 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: #0F2656;
    margin: 0px 20px 10px 10px;
    text-align: center;

}
.col-4 {
    width: 100%;
    float: left;
    margin: 0px 0px 20px;
    text-align: center;

}
.inner-feature {
    width: 76%;
    padding: 60px 30px;
    /* background: #FDEBED; */
    margin: 0px 15px;
    text-align: center;

}

.container {
    width: 768px;
    margin: 0px auto;
}
.header .navbar {
    text-align: right;
}

.banner h1 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
    color: #0f2656;
    margin: 30px 0px 10px;
    text-align: center;
}
.success-left h1 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    color: #F15767;
    margin: 0px 10px 10px 0px;
    text-align: center;
}
.success-left p {
    margin: 0px 20px 10px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #0F2656;
    text-align: center;
}
.success-right {
    width: 100%;
    float: left;
    margin: 20px 0px 0px 0px;
}
.col-4 {
    width: 100%;
    float: left;
    margin: 0px 0px 20px 10px;
    text-align: center;
}
.about-us .container{
    width: 769px;
    margin: 0px auto;
}

/*coad end*/
}
